html {
    font-size: 67.5%;
  }
  body {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    background-color: rgb(144, 152, 255);
  }
  
  /* form   */
  #form {
    font-family: 'Times New Roman', Times, serif;
  }